/* global.css */
:root {
  --link-color: #A63737; 
  --link-hover-color: #d04d4d; 
}

/* Apply base styles to html and body */
html,
body {
  max-width: 100vw;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* Style for all anchor tags using the custom property */
a {
  color: var(--link-color); 
  text-decoration: none; 
}

/* Style for anchor tags on hover using the custom property */
a:hover {
  color: var(--link-hover-color); 
  text-decoration: underline;
}
