/* global.css */
:root {
  --link-color: #A63737; 
  --link-hover-color: #d04d4d; 
}

/* Apply base styles to html and body */
html,
body {
  background-color: rgb(242, 242, 242);
} 

/* Style for all anchor tags using the custom property */
a {
  color: var(--link-color); 
  text-decoration: none; 
}

/* Style for anchor tags on hover using the custom property */
a:hover {
  color: var(--link-hover-color); 
  text-decoration: underline;
}

.link-icon {
  transition: transform 0.3s ease;
}

.link-icon:hover {
  transform: scale(1.1); /* Example effect: scale up icon on hover */
}

